:root {
    --primary-color: #d6e65b;
    --secondary-color: #20c8e1;
}

#hero {
    background-image: url("../img/background-img.jpg");
    background-size: cover;
    padding-bottom: 30px;
}

#form {
    background-color: var(--primary-color);
    opacity: .80;
    border-radius: 25px;
}

#form h2 {
    border-bottom: 2px solid black;
}

#form input {
    border-radius: 15px;
}

#form-button {
    background-color: var(--secondary-color);
    border-radius: 15px;
}

#map {
    height: 75%;
    width: 95%;
    margin: 0 auto;
  }
  html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }